In [1]:

#-------------------Imports---------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

# Entendimiento de los datos

In [2]:
df_conflicto=pd.read_csv('Conflicto Armado.csv', sep=';', decimal=',', encoding = 'utf-8')
df_educacion=pd.read_csv('Educacion.csv', sep=';', decimal=',', encoding = 'utf-8')
df_salud=pd.read_csv('Salud.csv', sep=';', decimal=',', encoding = 'utf-8')
df_vivienda=pd.read_csv('Vivienda y Servicios Publicos.csv', sep=';', decimal=',', encoding = 'utf-8')

C:\Users\Windows\AppData\Local\Temp\ipykernel_25584\413234368.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_conflicto=pd.read_csv('Conflicto Armado.csv', sep=';', decimal=',', encoding = 'utf-8')
C:\Users\Windows\AppData\Local\Temp\ipykernel_25584\413234368.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_salud=pd.read_csv('Salud.csv', sep=';', decimal=',', encoding = 'utf-8')

## Conflicto armado

In [3]:
df_conflicto.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas

In [4]:
df_conflicto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314119 entries, 0 to 314118
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  314118 non-null  float64
 1   Departamento         314118 non-null  object
 2   Código Entidad       314118 non-null  float64
 3   Entidad              314118 non-null  object
 4   Dimensión            314118 non-null  object
 5   Subcategoría         314118 non-null  object
 6   Indicador            314119 non-null  object
 7   Dato Numérico        259158 non-null  object
 8   Dato Cualitativo     4536 non-null    object
 9   Año                  314118 non-null  float64
 10  Mes                  314118 non-null  float64
 11  Fuente               314119 non-null  object
 12  Unidad de Medida     314118 non-null  object
dtypes: float64(4), object(9)
memory usage: 31.2+ MB

In [5]:
df_conflicto.shape

(314119, 13)

In [6]:
df_conflicto.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           54961
Dato Cualitativo       309583
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

## Educación

In [7]:
df_educacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,20.0,Cesar,20000.0,Cesar,Educación,Acceso a la educación,Cobertura bruta en transición,122.39,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Educación,Acceso a la educación,Cobertura bruta en transición,98.26,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Educación,Acceso a la educación,Cobertura bruta en transición,107.07,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Educación,Acceso a la educación,Cobertura bruta en transición,120.82,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [8]:
df_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291757 entries, 0 to 291756
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  291756 non-null  float64
 1   Departamento         291756 non-null  object
 2   Código Entidad       291756 non-null  float64
 3   Entidad              291756 non-null  object
 4   Dimensión            291756 non-null  object
 5   Subcategoría         291756 non-null  object
 6   Indicador            291757 non-null  object
 7   Dato Numérico        269714 non-null  float64
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  291756 non-null  float64
 10  Mes                  291756 non-null  float64
 11  Fuente               291757 non-null  object
 12  Unidad de Medida     291756 non-null  object
dtypes: float64(6), object(7)
memory usage: 28.9+ MB

In [9]:
df_educacion.shape

(291757, 13)

In [10]:
df_educacion.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           22043
Dato Cualitativo       291757
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

## Salud

In [11]:
df_salud.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
1,5,Antioquia,5000,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
2,5,Antioquia,5001,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
3,5,Antioquia,5002,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
4,5,Antioquia,5004,Abriaquí,Salud,Aseguramiento,Afiliados al régimen contributivo,217,NaN,2012,12,Ministerio de Salud y Protección Social,Personas

In [12]:
df_salud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411258 entries, 0 to 411257
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  411258 non-null  int64
 1   Departamento         411258 non-null  object
 2   Código Entidad       411258 non-null  int64
 3   Entidad              411258 non-null  object
 4   Dimensión            411258 non-null  object
 5   Subcategoría         411258 non-null  object
 6   Indicador            411258 non-null  object
 7   Dato Numérico        332002 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  411258 non-null  int64
 10  Mes                  411258 non-null  int64
 11  Fuente               411258 non-null  object
 12  Unidad de Medida     411258 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 40.8+ MB

In [13]:
df_salud.shape

(411258, 13)

In [14]:
df_salud.isnull().sum()

Código Departamento         0
Departamento                0
Código Entidad              0
Entidad                     0
Dimensión                   0
Subcategoría                0
Indicador                   0
Dato Numérico           79256
Dato Cualitativo       411258
Año                         0
Mes                         0
Fuente                      0
Unidad de Medida            0
dtype: int64

## Vivienda

In [15]:
df_vivienda.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,95.79,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,98.05,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,100.00,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,100.00,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)

In [16]:
df_vivienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220662 entries, 0 to 220661
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  220661 non-null  float64
 1   Departamento         220661 non-null  object
 2   Código Entidad       220661 non-null  float64
 3   Entidad              220661 non-null  object
 4   Dimensión            220661 non-null  object
 5   Subcategoría         220661 non-null  object
 6   Indicador            220662 non-null  object
 7   Dato Numérico        210265 non-null  float64
 8   Dato Cualitativo     19260 non-null   float64
 9   Año                  220661 non-null  float64
 10  Mes                  220661 non-null  float64
 11  Fuente               220662 non-null  object
 12  Unidad de Medida     220661 non-null  object
dtypes: float64(6), object(7)
memory usage: 21.9+ MB

In [17]:
df_vivienda.shape

(220662, 13)

In [18]:
df_vivienda.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           10397
Dato Cualitativo       201402
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

# Limpieza de lo datos

In [19]:
#----------------------------------------------------Copia de todo----------------------------------------------------
df_conflicto_t = df_conflicto.copy()
df_educacion_t = df_educacion.copy()
df_salud_t = df_salud.copy()
df_vivienda_t = df_vivienda.copy()

In [20]:
#--------------------------------Quitar dulicados------------------------
df_conflicto_t = df_conflicto_t.drop_duplicates()
df_educacion_t = df_educacion_t.drop_duplicates()
df_salud_t = df_salud_t.drop_duplicates()
df_vivienda_t = df_vivienda_t.drop_duplicates()

In [21]:
df_conflicto_t = df_conflicto_t.drop(['Dato Cualitativo','Mes','Dimensión'], axis =1)
df_educacion_t = df_educacion_t.drop(['Dato Cualitativo','Dimensión'], axis =1)
df_salud_t = df_salud_t.drop(['Dato Cualitativo','Dimensión'], axis =1)
df_vivienda_t = df_vivienda_t.drop(['Dato Cualitativo','Dimensión','Subcategoría'], axis =1)

In [22]:
def isColombia (col ,row):
    if row[col] == "Colombia" :
        return 1
    return 0

In [23]:

df_conflicto_c = df_conflicto_t.copy()
df_conflicto_c['Entidad']=df_conflicto_c.apply (lambda row: isColombia("Entidad",row), axis=1)

In [24]:
df_conflicto_c['Entidad'].value_counts()

0    313565
1       554
Name: Entidad, dtype: int64

In [25]:
df_conflicto_t=df_conflicto_t.drop(df_conflicto_t[df_conflicto_t['Entidad']=='Colombia'].index)

In [26]:
df_conflicto_t=df_conflicto_t.drop(0)

In [27]:
df_conflicto_t.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Fuente,Unidad de Medida
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado,Número acumulado de personas secuestradas,"516,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado,Número acumulado de personas secuestradas,"75,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
5,5.0,Antioquia,5004.0,Abriaquí,Conflicto armado,Número acumulado de personas secuestradas,"23,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
6,5.0,Antioquia,5021.0,Alejandría,Conflicto armado,Número acumulado de personas secuestradas,"81,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas

In [28]:
df_educacion_t=df_educacion_t.drop(df_educacion_t[df_educacion_t['Entidad']=='Colombia'].index)

In [29]:
df_educacion_t=df_educacion_t.drop(0)

In [30]:
df_educacion_t.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
1,20.0,Cesar,20000.0,Cesar,Acceso a la educación,Cobertura bruta en transición,122.39,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Acceso a la educación,Cobertura bruta en transición,98.26,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Acceso a la educación,Cobertura bruta en transición,107.07,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Acceso a la educación,Cobertura bruta en transición,120.82,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
5,20.0,Cesar,20032.0,Astrea,Acceso a la educación,Cobertura bruta en transición,192.25,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [31]:
df_salud_t=df_salud_t.drop(df_salud_t[df_salud_t['Entidad']=='Colombia'].index)

In [32]:
df_salud_t.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
1,5,Antioquia,5000,Antioquia,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",2012,12,Ministerio de Salud y Protección Social,Personas
2,5,Antioquia,5001,Medellín,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",2012,12,Ministerio de Salud y Protección Social,Personas
3,5,Antioquia,5002,Abejorral,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",2012,12,Ministerio de Salud y Protección Social,Personas
4,5,Antioquia,5004,Abriaquí,Aseguramiento,Afiliados al régimen contributivo,217,2012,12,Ministerio de Salud y Protección Social,Personas
5,5,Antioquia,5021,Alejandría,Aseguramiento,Afiliados al régimen contributivo,746,2012,12,Ministerio de Salud y Protección Social,Personas

In [33]:
df_vivienda_t=df_vivienda_t.drop(df_vivienda_t[df_vivienda_t['Entidad']=='Colombia'].index)

In [34]:
df_vivienda_t=df_vivienda_t.drop(0)

In [35]:
df_vivienda_t.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
2,5.0,Antioquia,5000.0,Antioquia,Cobertura de energía eléctrica rural,98.05,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Cobertura de energía eléctrica rural,100.00,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Cobertura de energía eléctrica rural,100.00,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
5,5.0,Antioquia,5004.0,Abriaquí,Cobertura de energía eléctrica rural,99.48,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
6,5.0,Antioquia,5021.0,Alejandría,Cobertura de energía eléctrica rural,100.00,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)

# Creación CSVs

In [36]:
conflicto=pd.DataFrame(df_conflicto_t)
conflicto.to_csv('dimension_conflicto_armado.csv')

In [37]:
educacion=pd.DataFrame(df_educacion_t)
educacion.to_csv('dimension_educacion.csv')

In [38]:
salud=pd.DataFrame(df_salud_t)
salud.to_csv('dimension_salud.csv')

In [39]:
vivienda=pd.DataFrame(df_vivienda_t)
vivienda.to_csv('dimension_vivienda.csv')