In [86]:

#-------------------Imports---------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

# Entendimiento de los datos

In [87]:
df_conflicto=pd.read_csv('Conflicto Armado.csv', sep=';', decimal=',', encoding = 'utf-8')
df_educacion=pd.read_csv('Educacion.csv', sep=';', decimal=',', encoding = 'utf-8')
df_salud=pd.read_csv('Salud.csv', sep=';', decimal=',', encoding = 'utf-8')
df_vivienda=pd.read_csv('Vivienda y Servicios Publicos.csv', sep=';', decimal=',', encoding = 'utf-8')

C:\Users\Windows\AppData\Local\Temp\ipykernel_1512\413234368.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_conflicto=pd.read_csv('Conflicto Armado.csv', sep=';', decimal=',', encoding = 'utf-8')
C:\Users\Windows\AppData\Local\Temp\ipykernel_1512\413234368.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_salud=pd.read_csv('Salud.csv', sep=';', decimal=',', encoding = 'utf-8')

## Conflicto armado

In [88]:
df_conflicto.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas

In [89]:
df_conflicto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314119 entries, 0 to 314118
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  314118 non-null  float64
 1   Departamento         314118 non-null  object
 2   Código Entidad       314118 non-null  float64
 3   Entidad              314118 non-null  object
 4   Dimensión            314118 non-null  object
 5   Subcategoría         314118 non-null  object
 6   Indicador            314119 non-null  object
 7   Dato Numérico        259158 non-null  object
 8   Dato Cualitativo     4536 non-null    object
 9   Año                  314118 non-null  float64
 10  Mes                  314118 non-null  float64
 11  Fuente               314119 non-null  object
 12  Unidad de Medida     314118 non-null  object
dtypes: float64(4), object(9)
memory usage: 31.2+ MB

In [90]:
df_conflicto.shape

(314119, 13)

In [91]:
df_conflicto.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           54961
Dato Cualitativo       309583
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

## Educación

In [92]:
df_educacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,20.0,Cesar,20000.0,Cesar,Educación,Acceso a la educación,Cobertura bruta en transición,122.39,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Educación,Acceso a la educación,Cobertura bruta en transición,98.26,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Educación,Acceso a la educación,Cobertura bruta en transición,107.07,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Educación,Acceso a la educación,Cobertura bruta en transición,120.82,NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [93]:
df_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291757 entries, 0 to 291756
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  291756 non-null  float64
 1   Departamento         291756 non-null  object
 2   Código Entidad       291756 non-null  float64
 3   Entidad              291756 non-null  object
 4   Dimensión            291756 non-null  object
 5   Subcategoría         291756 non-null  object
 6   Indicador            291757 non-null  object
 7   Dato Numérico        269714 non-null  float64
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  291756 non-null  float64
 10  Mes                  291756 non-null  float64
 11  Fuente               291757 non-null  object
 12  Unidad de Medida     291756 non-null  object
dtypes: float64(6), object(7)
memory usage: 28.9+ MB

In [94]:
df_educacion.shape

(291757, 13)

In [95]:
df_educacion.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           22043
Dato Cualitativo       291757
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

## Salud

In [96]:
df_salud.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
1,5,Antioquia,5000,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
2,5,Antioquia,5001,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
3,5,Antioquia,5002,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012,12,Ministerio de Salud y Protección Social,Personas
4,5,Antioquia,5004,Abriaquí,Salud,Aseguramiento,Afiliados al régimen contributivo,217,NaN,2012,12,Ministerio de Salud y Protección Social,Personas

In [97]:
df_salud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411258 entries, 0 to 411257
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  411258 non-null  int64
 1   Departamento         411258 non-null  object
 2   Código Entidad       411258 non-null  int64
 3   Entidad              411258 non-null  object
 4   Dimensión            411258 non-null  object
 5   Subcategoría         411258 non-null  object
 6   Indicador            411258 non-null  object
 7   Dato Numérico        332002 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  411258 non-null  int64
 10  Mes                  411258 non-null  int64
 11  Fuente               411258 non-null  object
 12  Unidad de Medida     411258 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 40.8+ MB

In [98]:
df_salud.shape

(411258, 13)

In [99]:
df_salud.isnull().sum()

Código Departamento         0
Departamento                0
Código Entidad              0
Entidad                     0
Dimensión                   0
Subcategoría                0
Indicador                   0
Dato Numérico           79256
Dato Cualitativo       411258
Año                         0
Mes                         0
Fuente                      0
Unidad de Medida            0
dtype: int64

## Vivienda

In [100]:
df_vivienda.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,95.79,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,98.05,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,100.00,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,100.00,NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)

In [101]:
df_vivienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220662 entries, 0 to 220661
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  220661 non-null  float64
 1   Departamento         220661 non-null  object
 2   Código Entidad       220661 non-null  float64
 3   Entidad              220661 non-null  object
 4   Dimensión            220661 non-null  object
 5   Subcategoría         220661 non-null  object
 6   Indicador            220662 non-null  object
 7   Dato Numérico        210265 non-null  float64
 8   Dato Cualitativo     19260 non-null   float64
 9   Año                  220661 non-null  float64
 10  Mes                  220661 non-null  float64
 11  Fuente               220662 non-null  object
 12  Unidad de Medida     220661 non-null  object
dtypes: float64(6), object(7)
memory usage: 21.9+ MB

In [102]:
df_vivienda.shape

(220662, 13)

In [103]:
df_vivienda.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           10397
Dato Cualitativo       201402
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

# Limpieza de los datos

In [104]:
#----------------------------------------------------Copia de todo----------------------------------------------------
df_conflicto_t = df_conflicto.copy()
df_educacion_t = df_educacion.copy()
df_salud_t = df_salud.copy()
df_vivienda_t = df_vivienda.copy()

In [105]:
#--------------------------------Quitar dulicados------------------------
df_conflicto_t = df_conflicto_t.drop_duplicates()
df_educacion_t = df_educacion_t.drop_duplicates()
df_salud_t = df_salud_t.drop_duplicates()
df_vivienda_t = df_vivienda_t.drop_duplicates()

In [106]:
df_conflicto_t = df_conflicto_t.drop(['Dato Cualitativo','Mes','Dimensión'], axis =1)
df_educacion_t = df_educacion_t.drop(['Dato Cualitativo','Dimensión'], axis =1)
df_salud_t = df_salud_t.drop(['Dato Cualitativo','Dimensión'], axis =1)
df_vivienda_t = df_vivienda_t.drop(['Dato Cualitativo','Dimensión','Subcategoría'], axis =1)

In [107]:
df_conflicto_t.columns=[ 'CodigoDepartamento', 'Departamento', 'CodigoEntidad', 'Entidad', 'Subcategoria', 'Indicador', 'DatoNumerico', 'Anio', 'Fuente', 'UnidadDeMedida']
df_educacion_t.columns=[ 'CodigoDepartamento', 'Departamento', 'CodigoEntidad', 'Entidad', 'Subcategoria', 'Indicador', 'DatoNumerico', 'Anio', 'Mes', 'Fuente', 'UnidadDeMedida']
df_salud_t.columns=[ 'CodigoDepartamento', 'Departamento', 'CodigoEntidad', 'Entidad', 'Subcategoria', 'Indicador', 'DatoNumerico', 'Anio', 'Mes', 'Fuente', 'UnidadDeMedida']
df_vivienda_t.columns=[ 'CodigoDepartamento', 'Departamento', 'CodigoEntidad', 'Entidad', 'Indicador', 'DatoNumerico', 'Anio', 'Mes', 'Fuente', 'UnidadDeMedida']

In [108]:
def isColombia (col ,row):
    if row[col] == "Colombia" :
        return 1
    return 0

In [109]:

df_conflicto_c = df_conflicto_t.copy()
df_conflicto_c['Entidad']=df_conflicto_c.apply (lambda row: isColombia("Entidad",row), axis=1)

In [110]:
df_conflicto_c['Entidad'].value_counts()

0    313565
1       554
Name: Entidad, dtype: int64

In [111]:
df_conflicto_t=df_conflicto_t.drop(df_conflicto_t[df_conflicto_t['Entidad']=='Colombia'].index)

In [112]:
df_conflicto_t=df_conflicto_t.drop(0)

In [113]:
df_conflicto_t.head()

,CodigoDepartamento,Departamento,CodigoEntidad,Entidad,Subcategoria,Indicador,DatoNumerico,Anio,Fuente,UnidadDeMedida
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado,Número acumulado de personas secuestradas,"516,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado,Número acumulado de personas secuestradas,"75,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
5,5.0,Antioquia,5004.0,Abriaquí,Conflicto armado,Número acumulado de personas secuestradas,"23,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas
6,5.0,Antioquia,5021.0,Alejandría,Conflicto armado,Número acumulado de personas secuestradas,"81,00",2017.0,Unidad para la Atención y Reparación Integral ...,Personas

In [114]:
df_educacion_t=df_educacion_t.drop(df_educacion_t[df_educacion_t['Entidad']=='Colombia'].index)

In [115]:
df_educacion_t=df_educacion_t.drop(0)

In [116]:
df_educacion_t.head()

,CodigoDepartamento,Departamento,CodigoEntidad,Entidad,Subcategoria,Indicador,DatoNumerico,Anio,Mes,Fuente,UnidadDeMedida
1,20.0,Cesar,20000.0,Cesar,Acceso a la educación,Cobertura bruta en transición,122.39,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Acceso a la educación,Cobertura bruta en transición,98.26,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Acceso a la educación,Cobertura bruta en transición,107.07,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Acceso a la educación,Cobertura bruta en transición,120.82,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
5,20.0,Cesar,20032.0,Astrea,Acceso a la educación,Cobertura bruta en transición,192.25,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [117]:
df_salud_t=df_salud_t.drop(df_salud_t[df_salud_t['Entidad']=='Colombia'].index)
df_salud_ITS=df_salud_t.copy()

df_salud_ITS.shape

(410510, 11)

In [118]:
def isITS (col ,row):
    if row[col] == "Motalidad asociada a VIH / SIDA" :
        return "Motalidad asociada a VIH / SIDA"
    elif row[col] == "Incidencia del VIH" :
        return "Incidencia del VIH"
    elif row[col] == "Incidencia del VIH - Hombre" :
        return "Incidencia del VIH - Hombre"
    elif row[col] == "Incidencia del VIH - Mujer" :
        return "Incidencia del VIH - Mujer"
    else:
        return 0

In [119]:
df_salud_ITS['Indicador']=df_salud_ITS.apply (lambda row: isITS("Indicador",row), axis=1)

In [120]:

df_salud_ITS=df_salud_ITS.drop(df_salud_ITS[df_salud_ITS['Indicador']==0].index)
df_salud_ITS.shape

(3972, 11)

In [121]:
saludITS=pd.DataFrame(df_salud_ITS)
saludITS.to_csv('salud_ITS.csv',encoding='latin1')

In [122]:
df_salud_S=df_salud_t.copy()

df_salud_S.shape

(410510, 11)

In [123]:
def isSatisfaccion (col ,row):
    if row[col] == "Satisfacción con el servicio de salud - Algo insatisfecho" :
        return "Satisfacción con el servicio de salud - Algo insatisfecho"
    elif row[col] == "Satisfacción con el servicio de salud - Muy insatisfecho" :
        return "Satisfacción con el servicio de salud - Muy insatisfecho"
    elif row[col] == "Satisfacción con el servicio de salud - No recibió servicio de salud" :
        return "Satisfacción con el servicio de salud - No recibió servicio de salud"

    else:
        return 0

In [124]:
df_salud_S['Indicador']=df_salud_S.apply (lambda row: isSatisfaccion("Indicador",row), axis=1)

In [125]:
df_salud_S=df_salud_S.drop(df_salud_S[df_salud_S['Indicador']==0].index)
df_salud_S.shape

(3396, 11)

In [126]:
df_salud_S=pd.DataFrame(df_salud_S)
df_salud_S.to_csv('salud_satisfaccion.csv',encoding='latin1')

In [127]:
df_salud_t.head()

,CodigoDepartamento,Departamento,CodigoEntidad,Entidad,Subcategoria,Indicador,DatoNumerico,Anio,Mes,Fuente,UnidadDeMedida
1,5,Antioquia,5000,Antioquia,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",2012,12,Ministerio de Salud y Protección Social,Personas
2,5,Antioquia,5001,Medellín,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",2012,12,Ministerio de Salud y Protección Social,Personas
3,5,Antioquia,5002,Abejorral,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",2012,12,Ministerio de Salud y Protección Social,Personas
4,5,Antioquia,5004,Abriaquí,Aseguramiento,Afiliados al régimen contributivo,217,2012,12,Ministerio de Salud y Protección Social,Personas
5,5,Antioquia,5021,Alejandría,Aseguramiento,Afiliados al régimen contributivo,746,2012,12,Ministerio de Salud y Protección Social,Personas

In [128]:
df_vivienda_t=df_vivienda_t.drop(df_vivienda_t[df_vivienda_t['Entidad']=='Colombia'].index)

In [129]:
df_vivienda_t.head()

,CodigoDepartamento,Departamento,CodigoEntidad,Entidad,Indicador,DatoNumerico,Anio,Mes,Fuente,UnidadDeMedida
0,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
2,5.0,Antioquia,5000.0,Antioquia,Cobertura de energía eléctrica rural,98.05,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Cobertura de energía eléctrica rural,100.00,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Cobertura de energía eléctrica rural,100.00,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
5,5.0,Antioquia,5004.0,Abriaquí,Cobertura de energía eléctrica rural,99.48,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)

# Creación CSVs

In [130]:
conflicto=pd.DataFrame(df_conflicto_t)
conflicto.to_csv('dimension_conflicto_armado.csv',encoding='latin1')

In [131]:
educacion=pd.DataFrame(df_educacion_t)
educacion.to_csv('dimension_educacion.csv',encoding='latin1')

In [132]:
salud=pd.DataFrame(df_salud_t)
salud.to_csv('dimension_salud.csv',encoding='latin1')

In [133]:
vivienda=pd.DataFrame(df_vivienda_t)
vivienda.to_csv('dimension_vivienda.csv',encoding='latin1')

# Cargar JSON a CSV

In [134]:

import requests
import pandas as pd
import os

df = pd.read_json (r'https://bloqueneon.uniandes.edu.co//content/enforced/141275-UN_202220_ISIS3301_I/mineriaInfo.json?isCourseFile=true&_&d2lSessionVal=o09mp5OmLJDEI04Gos4ZOrOun&ou=141275')
df.to_csv ('Mineria.csv', index = None)

In [135]:
df_mineria=pd.read_csv('Mineria.csv', sep=',', encoding = 'utf-8')

In [136]:
df_mineria.head()

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0

In [137]:
df_mineria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_dane             45215 non-null  int64
 1   municipio_productor     45215 non-null  object
 2   departamento            45215 non-null  object
 3   recurso_natural         45215 non-null  object
 4   nombre_del_proyecto     45215 non-null  object
 5   a_o_produccion          45215 non-null  int64
 6   trimestre               45215 non-null  object
 7   unidad_medida           45215 non-null  object
 8   tipo_contraprestacion   45215 non-null  object
 9   valor_contraprestacion  45155 non-null  float64
 10  cantidad_producci_n     45214 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.8+ MB

In [138]:
df_mineria.shape

(45215, 11)

In [139]:
df_mineria.isnull().sum()

codigo_dane                0
municipio_productor        0
departamento               0
recurso_natural            0
nombre_del_proyecto        0
a_o_produccion             0
trimestre                  0
unidad_medida              0
tipo_contraprestacion      0
valor_contraprestacion    60
cantidad_producci_n        1
dtype: int64

# Limpieza minería

In [140]:
df_mineria_t=df_mineria.copy()
df_mineria_t['departamento'] = df_mineria_t['departamento'].str.replace('[Ã±,ï¿½ï¿½]', 'ñ')
df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('[Ã±o]', 'ñ')
df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('Ã¼', 'gü')
df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('Ã±', 'ñ')
df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('Ã¡', 'á')
df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('Ã³', 'ó')
df_mineria_t['valor_contraprestacion'] = df_mineria_t['valor_contraprestacion'].fillna(0)

C:\Users\Windows\AppData\Local\Temp\ipykernel_1512\3343551859.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_mineria_t['departamento'] = df_mineria_t['departamento'].str.replace('[Ã±,ï¿½ï¿½]', 'ñ')
C:\Users\Windows\AppData\Local\Temp\ipykernel_1512\3343551859.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_mineria_t['municipio_productor'] = df_mineria_t['municipio_productor'].str.replace('[Ã±o]', 'ñ')

In [141]:
df_mineria_t.columns=[ 'Codigo_dane', 'Municipio_productor', 'Departamento', 'Recurso_natural', 'Nombre_del_proyecto', 'A_o_produccion', 'Trimestre', 'Unidad_medida', 'Tipo_contraprestacion', 'Valor_contraprestacion', 'Cantidad_producci_n']

In [142]:
df_mineria_t.head()

,Codigo_dane,Municipio_productor,Departamento,Recurso_natural,Nombre_del_proyecto,A_o_produccion,Trimestre,Unidad_medida,Tipo_contraprestacion,Valor_contraprestacion,Cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0

In [143]:
mineria=pd.DataFrame(df_mineria_t)
mineria.to_csv('dimension_mineria.csv',encoding='UTF-8')